body {
    color: #1E1E1E;
    margin: 0;
    min-height: 100vh;
    font-family: "Inter", "Arial", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 275px 1fr;
}

.main {
    grid-column: 2 / 3;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;

    background-color: #2F241D;
    color: #FFFFFF;

    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 30px 20px 20px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    color: #5E5E5E;
    line-height: 1.4rem;
}

hr {
    border: none;
    border-top: 1px solid #D9D9D9;
}

.menu {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100%;
}

.svg-logo {
    min-width: 40px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px 40px;
}

.sidebar ul li:hover {
    color: #FFC425;
    background-color: #3E322D;
    border-left: solid 4px #FFC425;
    padding-left: 36px;
    transition: linear 0.1s;
}

.sidebar a {
    display: flex;
    gap: 20px;
}

.sidebar ul li span {
    position: relative;
    bottom: -1px;
}

.icon {
    position: relative;
    bottom: -2px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 50px;

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.top-header, .bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.search-bar {
    min-width: 250px;
    max-width: 700px;
    width: 100%;
}

.search-icon {
    display: none;
}

input[type=text] {
    appearance: none;

    border: solid 1px #D9D9D9;
    background-color: #FFFFFF;
    color: #1E1E1E;
    font-size: 1rem;
    font-family: "Inter", "Arial", sans-serif;
    padding: 10px 14px;
    border-radius: 20px;
}

input[type=text]:focus-visible, input[type=text]:focus {
    outline-color: #1E1E1E;
}

#search {
    width: 100%;
}

label[for=search], .profile-bar, .greeting {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-bar > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-bar > div > div {
    flex: none;
}

.profile-photo {
    background: grey;
    border-radius: 50%;
}

.photo-small {
    width: 50px;
    height: 50px;
}

.photo-med {
    width: 100px;
    height: 100px;
}

.greeting, .search-bar {
    flex: 1;
}

.greeting, .greeting > div:first-child {
    display: flex;
}

.greeting-text {
    font-size: 1rem;
}

.project-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px 24px;
    font-weight: 700;
    height: 40px;
}

.yellow-btn {
    background-color: #FFC425;
    color: #1E1E1E;
    transition: background-color linear 0.1s;
}

.yellow-btn:hover {
    background-color: #ffd45f;
}

.project-space {
    display: flex;
    gap: 40px;
    padding: 40px;

    background-color: #F0F0F0;
}

.headline {
    margin: 16px 0px;
}

.projects {
    flex: 1;
}

.project-grid {
    display: grid;
    flex: 3;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 225px;
    grid-auto-rows: 225px;
}

.project-side {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 300px;
}

.card {
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.project-card {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.project-card-border {
    background-color: #FFC425;
    width: 12px;
    height: 100%;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
}

.project-card-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    gap: 24px;
}

.announcements-card {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 28px;
    font-size: 0.8rem;
}

.announcements-card p {
    margin: 8px 0px;
}

.announcement {
    padding: 10px;
}

.trending-cell {
    display: flex;
    gap: 16px;
    align-content: center;
}

.trending-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px;
    font-size: 0.8rem;
}

.trending-cell p {
    margin: 0;
}

.trending-cell a {
    color: #000000;
    font-weight: 700;
}

.cell-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 1024px) {

    .bottom-header {
        display: block;
    }

    .greeting {
        margin-bottom: 20px;
    }
    
    .project-space {
        display: block;
        gap: 40px;
        padding: 40px;
    
        background-color: #F0F0F0;
    }

    .project-side {
        display: flex;
        flex-direction: row;
        padding: 50px 0px;
        width: 100%;
    }

    .announcements, .trending {
        flex: 1;
    }
}

@media only screen and (max-width: 899px) {

    .grid-container {
        grid-template-columns: auto 1fr;
    }

    .project-side {
        flex-direction: column;
    }

    .profile-bar > div > div {
        display: none;
    }
    .search-bar {
        display: none;
    }

    .search-icon {
        display: contents;
    }

    .top-header {
        justify-content: end;
    }
}

/*@media only screen and (max-width: 768px) {

    .grid-container {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    
    
    .sidebar {
        width: 4em;
    }

    .sidebar-logo {
        justify-content: center;
        padding: 10px;
    }

    .menu {
        align-items: center;
    }

    .sidebar ul {
        width: 100%;
    }

    .sidebar ul li {
        padding: 12px 0px;
    }

    .sidebar a {
        justify-content: center;
    }

    .menu-text {
        display: none;
    }

    .header {
        padding: 20px;
    }

    .project-space {
        padding: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .header, .project-space {
        padding: 12px;
    }

    .top-header {
        justify-content: end;
    }

    .photo-med {
        width: 70px;
        height: 70px;
    }

    .project-btns {
        gap: 8px;
    }

    .project-grid {
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    }

    .search-bar {
        display: none;
    }
}*/